@model VanHackForumWebApp.ViewModels.PostDetail

@{
    ViewBag.Title = "Details";
}

@if (Model.EditionAllowed)
{
   <h1>@Model.Title</h1>
   <a href='/posts/EditPost/@Model.Id'>Click here to edit this post</a>  
}
else
{
   <h1>@Model.Title</h1>
}

<text>
    <p>Created by: @Model.UserNickName</p> 
    <p>Details: @Model.Details</p>
</text>

<form id="newComment">
    <div class="form-group">        
        @Html.Hidden("Id", Model.Id, new { @id = "postID" })
        <label>Add comment</label>
        <div class="tt-container">
            <textarea id="txtAddComment" name="txtAddComment" data-rule-validComment="true" required type="text" value="" class="form-control">
            </textarea>
        </div>        
    </div>
    <button onclick="postNewComment(); return false;" class="btn btn-primary">Publish comment</button>    
</form>

<br>
<h2>All comments</h2>
<table id="postcommenttable" width="100%" class="display">
    <thead>
        <tr>
            <th>User</th>
            <th>Comment</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Scripts/Posts/Details.js");
}