@model Vidly2.ViewModels.MovieDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        <p>Genre: @Model.Genre</p>
        <p>Release Date: @Model.ReleaseDate</p>
        <p>Date Added: @Model.AddedDate</p>
        <p>Number in Stock: @Model.NumberInStock</p>
    </li>
</ul>

